* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boxes {
    width: 600px;
    height: 800px;
    background-color: yellow;
}
.box1 {
    width: 150px;
    height: 400px;
    background-color: orange;
    float: left;
}
.box2 {
    width: 250px;
    height: 400px;
    background-color: red;
    float: right;
