* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.season {
	width: 100%;
}
.spring {
    background-image: url(img/box1.jpg);
    background-size: cover;
    background-position: center;
	height: 200px;
}
.summer {
	background-image: url(img/box2.jpg);
	background-size: cover;
	background-position: center;
	height: 200px;
}
.autumn {
	background-image: url(img/box3.jpg);
	background-size: cover;
	background-position: center;
	height: 200px;
}
.winter {
	background-image: url(img/box4.jpg);
	background-size: cover;
	background-position: center;
	height: 200px;
}
